body {
    background: rgb(175, 175, 175);
    font-family: sans-serif;
    text-align: center;
  }
  
  h1 {
    text-align: center;
    color: darkolivegreen;
    font-family: 'Oswald', sans-serif;;
  }
  
  p {
    text-align: center;
    color: rgb(78, 34, 34);
    font-family: 'Fira Sans', sans-serif;
  }
  
  a {
    text-decoration: none;
    color: rgb(114, 46, 46);
  }
  
  a:hover {
    color: rgb(177, 13, 13);
  }
  
