body {
  margin: 50px;
}

.first-para {
  color: rgb(127, 255, 202);
  font-weight: bold;
  font-size: 52px; 
}

.over {
  position: relative;
}


.img-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto -100px auto;
  background-color: red;
  height: 240px;
  width: 220px;
  border-radius: 48%;
  border: 4px solid black;
}

img {
  height: 200px;
  width: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  padding-top: 80px;
}

h1 span{
  color: rgb(65, 82, 37);
}

.central-container {
  background-color: rgb(216, 85, 67);
  padding:30px 25px;
  border: 4px solid black;
  border-radius: 6px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .2);
  width: 45%;
  margin: 0 auto;
}

.second-para {
  margin-top: 80px
}